.container {
  display: grid;
  border: black solid 1px;
  width: 80vh;
  height: 80vh;  
  grid-template-columns: repeat(16, auto);
}

.gridSquare {
  border: #444242 solid 1px;

}

.squareBlack {
  background-color: black;
}

