:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
  min-height: 100vh;
  height: 100vh;
}
#container {
  display: grid;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  position: relative;
top: 30px;
outline:2px solid #000;
font-size: 0;
margin:auto;
height:960px;
width:960px;
padding: 0;
border: none;
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}